apiVersion: v1
kind: Pod
metadata:
  name: kaniko
spec:
  containers:
    - name: kaniko
      image: gcr.io/kaniko-project/executor:latest
      args:
        - "--dockerfile=$KANIKO_DEMO_DOCKERFILE"
        - "--context=$KANIKO_DEMO_CONTEXT"
        - "--context-sub-path=$KANIKO_DEMO_CONTEXT_SUB_PATH"
        - "--destination=$KANIKO_DEMO_DESTINATION"
      volumeMounts:
        - name: kaniko-secret
          mountPath: /secret
      env:
        - name: GOOGLE_APPLICATION_CREDENTIALS
          value: /secret/kaniko-secret.json
  restartPolicy: Never
  volumes:
    - name: kaniko-secret
      secret:
        secretName: kaniko-secret
        items:
          - key: kaniko-secret.json
            path: kaniko-secret.json
